.woocommerce-checkout {
  #main-content {
    background-color: #f9f9f4;

    h1.main_title {
      font-family: 'Merriweather',Georgia,"Times New Roman",serif;
      font-weight: 700;
      font-size: 46px;
      line-height: 1.4em;
    }

    h3 {
      font-family: 'Merriweather',Georgia,"Times New Roman",serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.4em;
    }

    h3#order_review_heading {
      margin-top: 25px;
    }

    #payment {
      background: transparent;
    }
    .woocommerce-info {
      background: $dark_green;
    }

    .woocommerce-error {
      background: $green;
    }

    button.button {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
      font-weight: 500 !important;
      letter-spacing: 2px;
      border-radius: 100px;
      font-size: 13px;

      //Button shape & animation
      margin: 10px;
      padding: 1em 2em !important;
      background-size: 200% auto;
      color: white;
      border: 0;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      background-image: linear-gradient(25deg,#20c300 0%,#006f69 65%);
      transition: 0.5s;
      &:hover {
        background-position: right center;
      }
    }
  }
}
