@charset "UTF-8";
/*---------------------------------------------------------------------------------

 Theme Name:   Gastro Balans
 Theme URI:
 Description:
 Author:
 Author URI:
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/
/** Fonts **/
@import url("https://use.typekit.net/vmq0hie.css");
/* Text */
/* Colors */
a {
  color: #006f69;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: all-round-gothic, sans-serif;
  font-weight: 200;
}

/* General button */
.et_pb_button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
}
.et_pb_button:hover {
  background-position: right center;
}

/* Overview */
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
  background-color: #15c39a;
}
.woocommerce .woocommerce-error a.button, .woocommerce .woocommerce-info a.button, .woocommerce .woocommerce-message a.button {
  color: #006f69;
}

body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product {
  margin-bottom: 30px !important;
  border-radius: 10px;
  background: #fff;
  padding: 6px !important;
  box-shadow: 0px 10px 60px 0px rgba(1, 33, 92, 0.1);
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .et_shop_image img {
  transition: 0.5s;
  transform: scale(1);
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .de_db_product_details h2.woocommerce-loop-product__title {
  font-weight: bold;
  min-height: 50px;
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .de_db_product_details span.price {
  color: #15c39a !important;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-top: 6px !important;
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .de_db_product_details a.add_to_cart_button {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 15px;
  border-radius: 10px 0 0 0;
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .de_db_product_details a.add_to_cart_button::before {
  font-family: fontAwesome;
  content: " ";
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product .de_db_product_details a.add_to_cart_button:hover {
  background-position: right center;
}
body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products li.product:hover .et_shop_image img {
  transform: scale(0.8);
  opacity: 0.5;
}

.et_pb_slider_0 h2 {
  display: none;
}

#top-menu li a {
  font-family: all-round-gothic, sans-serif;
}

#copyright {
  text-align: center;
}

body.single-product.woocommerce p.price {
  color: #15c39a !important;
  font-size: 26px;
}
body.single-product.woocommerce button.single_add_to_cart_button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
}
body.single-product.woocommerce button.single_add_to_cart_button:hover {
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  background-position: right center;
  color: #fff;
}
body.single-product.woocommerce div.product form.cart div.quantity {
  float: left !important;
}

.woocommerce-cart button.button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
}
.woocommerce-cart button.button:hover {
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  background-position: right center;
  color: white;
}
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-cart .quantity input.qty {
  font-size: 16px !important;
}
.woocommerce-cart .et_pb_db_cart_total {
  background: rgba(255, 255, 255, 0.8);
  width: 50%;
  float: right;
  padding: 30px;
  border-radius: 6px;
}
.woocommerce-cart .et_pb_db_cart_total .wc-proceed-to-checkout a.checkout-button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
}
.woocommerce-cart .et_pb_db_cart_total .wc-proceed-to-checkout a.checkout-button:hover {
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  background-position: right center;
  color: white;
}

.woocommerce-checkout #main-content {
  background-color: #f9f9f4;
}
.woocommerce-checkout #main-content h1.main_title {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.4em;
}
.woocommerce-checkout #main-content h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4em;
}
.woocommerce-checkout #main-content h3#order_review_heading {
  margin-top: 25px;
}
.woocommerce-checkout #main-content #payment {
  background: transparent;
}
.woocommerce-checkout #main-content .woocommerce-info {
  background: #006f69;
}
.woocommerce-checkout #main-content .woocommerce-error {
  background: #15c39a;
}
.woocommerce-checkout #main-content button.button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;
  margin: 10px;
  padding: 1em 2em !important;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(25deg, #20c300 0%, #006f69 65%);
  transition: 0.5s;
}
.woocommerce-checkout #main-content button.button:hover {
  background-position: right center;
}

/*# sourceMappingURL=style.css.map */
