/* General button */
.et_pb_button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  border-radius: 100px;
  font-size: 13px;

  //Button shape & animation
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 0;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-image: linear-gradient(25deg,#20c300 0%,#006f69 65%);
  transition: 0.5s;
  &:hover {
    background-position: right center;
  }
}
