/* Overview */
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
  background-color: $green;
  a.button {
    color: $dark_green;
  }
}

body.woocommerce #main-content .divi-filter-archive-loop .divi-filter-loop-container ul.products {
  li.product {
    margin-bottom: 30px !important;
    border-radius: 10px;
    background: $white;
    padding: 6px !important;
    box-shadow: 0px 10px 60px 0px rgb(1 33 92 / 10%);

    .et_shop_image {
      img {
        transition: 0.5s;
        transform: scale(1);
      }
    }
    .de_db_product_details {
      h2.woocommerce-loop-product__title {
        font-weight: bold;
        min-height: 50px;
      }
      span.price {
        color: $green !important;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 0.3px;
        margin-top: 6px !IMPORTANT;
      }
      a.add_to_cart_button {
        position: absolute;
        right: 0;
        bottom: 0;
        color: $white;
        background-image: linear-gradient(25deg,#20c300 0%,#006f69 65%);
        transition: 0.5s;
        background-size: 200% auto;
        font-size: 15px;
        border-radius: 10px 0 0 0;

        &::before {
          font-family: fontAwesome;
          content: "\f0a9\00a0";
        }

        &:hover {
          background-position: right center;
        }
      }
    }
    &:hover {
      .et_shop_image {
        img {
          transform: scale(0.8);
          opacity: .5;
        }
      }
    }
  }
}
